@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
   margin: 0;
   font-family: 'Kanit', sans-serif;
}

body {
   --twitter-color: #50b7f5;
   --twitter-background: #e6ecf0;
   background-color: white;
}

.app {
   display: flex;
   height: 100vh;
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
}
